on:
  pull_request:
    branches:
      - master
    types: ["closed"]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  cherry_pick_release_r22:
    runs-on: ubuntu-latest
    name: Cherry pick into r22/master
    if: contains(github.event.pull_request.labels.*.name, 'sweep-r22')
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Cherry pick into release-v1.0
        uses: carloscastrojumo/github-cherry-pick-action@v1.0.1
        with:
          branch: r22/master
          labels: |
            cherry-pick
          reviewers: |
            jbossios


